@model AchillesHeel_RG.Models.Member

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Welcome to Your Account Dashboard @Model.FirstName</h2>

<div class="text-center">
    @Html.ActionLink("View Account", "Details", new { id = Model.Id }) |
    @Html.ActionLink("Edit Account", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Manage Addresses", "ViewAddresses", new { id = Model.Id }) |
    @Html.ActionLink("Your Past Orders", "ViewAllOrders", new { id = Model.Id })
</div>




