@model IEnumerable<AchillesHeel_RG.Models.Order>

@{
    ViewBag.Title = "ViewAllOrders";
}

<h2>ViewAllOrders</h2>

<a href="@Url.Action("CreateManualOrder", "Orders")">Create new Order</a>


<div class="card">
    @using (Html.BeginForm("SearchForOrder", "Orders"))
    {
        <p>Search by Id:</p>
        <input type="text" name="SearchTerm" />
        <button type="submit">Search</button>
        @Html.ActionLink("Reset Filters", "ViewAllOrders", "Admin")
    }
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("AssistantManager"))
            {
                <a href="@Url.Action("CancelOrder", "Orders", new { id = item.OrderId})">Cancel</a>
            }
            |<a href="@Url.Action("Details", "Orders",new { id = item.OrderId})">Details</a>
        </td>
    </tr>
}

</table>
